SELECT p_parent.nombre_paq AS paquete_padre, p_child.nombre_paq AS paquete_hijo FROM paq_paq pp JOIN paquete_turistico p_parent ON pp.fk_paquete_padre = p_parent.cod JOIN paquete_turistico p_child ON pp.fk_paquete_hijo = p_child.cod;
